USE [DemoWebDb]
GO
ALTER TABLE [dbo].[ProductImages] DROP CONSTRAINT [FK__ProductIm__Produ__49C3F6B7]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/2/2025 12:50:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Products]') AND type in (N'U'))
DROP TABLE [dbo].[Products]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 11/2/2025 12:50:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductImages]') AND type in (N'U'))
DROP TABLE [dbo].[ProductImages]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/2/2025 12:50:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [DemoWebDb]    Script Date: 11/2/2025 12:50:04 AM ******/
DROP DATABASE [DemoWebDb]
GO
/****** Object:  Database [DemoWebDb]    Script Date: 11/2/2025 12:50:04 AM ******/
CREATE DATABASE [DemoWebDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoWebDb', FILENAME = N'C:\Users\G7\DemoWebDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoWebDb_log', FILENAME = N'C:\Users\G7\DemoWebDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoWebDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoWebDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/2/2025 12:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 11/2/2025 12:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/2/2025 12:50:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Image] [nvarchar](500) NULL,
	[Type] [nvarchar](50) NULL,
	[Category] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Images] [nvarchar](2000) NULL,
	[HoverImage] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Image], [Type], [Category], [CreatedDate], [Images], [HoverImage]) VALUES (1027, N'Bông tai vàng trắng kim cương 24K', N'Vàng trắng cao cấp 24K', CAST(12500000.00 AS Decimal(18, 2)), N'~/Content/Images/BongTai/DTJ1/1.png', N'Vàng 24K', N'Bông tai', CAST(N'2025-11-01T02:39:05.893' AS DateTime), N'~/Content/Images/BongTai/DTJ1/1.png;~/Content/Images/BongTai/DTJ1/2.jpg;~/Content/Images/BongTai/DTJ1/3.jpg;~/Content/Images/BongTai/DTJ1/4.jpg;~/Content/Images/BongTai/DTJ1/5.png;', N'~/Content/Images/BongTai/DTJ2/2.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Image], [Type], [Category], [CreatedDate], [Images], [HoverImage]) VALUES (1028, N'Bông tai bạc đính đá', N'Bạc cao cấp', CAST(1950000.00 AS Decimal(18, 2)), N'~/Content/Images/BongTai/DTJ2/1.png', N'Bông Tai', N'Bạc', CAST(N'2025-11-01T02:45:50.430' AS DateTime), N'~/Content/Images/BongTai/DTJ2/1.png;~/Content/Images/BongTai/DTJ2/2.jpg;~/Content/Images/BongTai/DTJ2/3.jpg;~/Content/Images/BongTai/DTJ2/4.jpg;~/Content/Images/BongTai/DTJ2/5.png;', N'~/Content/Images/BongTai/DTJ1/2.jpg')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Image], [Type], [Category], [CreatedDate], [Images], [HoverImage]) VALUES (1029, N'Bông tai vàng trắng đính đá Saphia ', N'Bông tai thiết kế sang trọng', CAST(39000000.00 AS Decimal(18, 2)), N'~/Content/Images/BongTai/DTJ3/1.png', N'Vàng trắng ', N'Bông Tai', CAST(N'2025-11-01T15:34:39.087' AS DateTime), N'~/Content/Images/BongTai/DTJ3/2.png;~/Content/Images/BongTai/DTJ3/3.jpg;~/Content/Images/BongTai/DTJ3/4.jpg;~/Content/Images/BongTai/DTJ3/5.jpg;', NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
USE [master]
GO
